@media (max-width: 768px) {
     .hero h1 {
          font-size: 3rem;
     }
     .hero p{
          font-size: 1.3rem;
     }
     .section-title{
          font-size:2.5rem;
     }
}
@media (max-width: 488px) {
     .hero {
          align-items: flex-start !important;
          text-align: left;
     }
     .hero h1 {
          font-size: 2.3rem;
     }
     .hero p{
          font-size: 1.2rem;
     }
     .section-title{
          font-size: 2.1rem;
     }
}